<!doctype html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta
    name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
  >
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../static/css/style.css">
  {% block content %}
  <title>Глобальное потепление</title>
</head>
<body>
  <header class="header">
    <div class="header__text">
      <h1>Глобальное потепление</h1>
      <h2>Давай остановить это потепление</h2>
    </div>
  </header>
  <main>
    <h2>Борьба с изменением климата — гонка, из которой мы все еще можем выйти победителями</h2>
    <p>Изменение климата представляет собой наиболее серьезный кризис нашего времени, и оно происходит еще быстрее, чем мы предполагали.
        Тем не менее перед лицом этой глобальной угрозы мы отнюдь не бессильны. Как отметил в сентябре Генеральный секретарь 
        Антониу Гутерриш: «Чрезвычайная ситуация, связанная с изменением климата, — это гонка, в которой мы проигрываем,
         но из которой мы еще можем выйти победителями».
        Ни один уголок земного шара не застрахован от разрушительных последствий изменения климата. Повышение температуры является 
        непосредственной причиной деградации окружающей среды, стихийных бедствий, экстремальных погодных явлений, отсутствия 
        продовольственной безопасности и безопасности водных ресурсов, экономических потрясений, конфликтов и терроризма. Повышается 
        уровень моря, тают арктические ледники, гибнут коралловые рифы, происходит закисление океана и бушуют лесные пожары. 
        Очевидно, нужен кардинально новый подход. Поскольку последствия ущерба, наносимого в результате изменения климата, становятся 
        практически необратимыми, настало время для решительных коллективных действий.</p>
      <h2>ГЛОБАЛЬНОЕ ПОТЕПЛЕНИЕ</h2>
      <p>В результате добычи угля, нефти и газа ежегодно в атмосферу выбрасываются миллиарды тонн углекислого газа. Деятельность 
        человека приводит к рекордно высоким уровням выбросов парниковых газов, причем никаких признаков замедления не наблюдается.
        Последние четыре года стали самыми теплыми за весь период метеорологических наблюдений. Согласно докладу Всемирной 
        метеорологической организации (ВМО), представленному в сентябре 2019 года, на данный момент температура превышает температуру 
        доиндустриальной эпохи по крайней мере на один градус Цельсия, в связи с чем мы близки к тому, чтобы взять на себя, по мнению 
        ученых, «неприемлемый риск». В принятом в 2015 году Парижском соглашении об изменении климата содержится призыв к удержанию 
        прироста среднемировой температуры намного ниже 2° С сверх доиндустриальных уровней и к приложению усилий в целях ограничения 
        роста температуры до 1,5° С сверх доиндустриальных уровней. Вместе с тем если мы не замедлим темпы глобальных выбросов, то к 
        2100 году температура может подняться до 3° С сверх доиндустриальных уровней, что нанесет дополнительный непоправимый ущерб 
        нашим экосистемам.
        Ледники и ледниковый покров в полярных и горных районах уже тают быстрее, чем когда-либо прежде, что приводит к повышению 
        уровня моря. Почти две трети городов мира с населением более пяти миллионов человек расположены в районах, подверженных риску 
        повышения уровня моря, и почти 40 процентов мирового населения проживает на расстоянии менее 100 км от побережья. Если не 
        принять никаких мер, то целые районы Нью-Йорка, Шанхая, Абу-Даби, Осаки, Рио-де-Жанейро и многих других городов могут уйти под 
        воду уже на нашем веку, что приведет к перемещению миллионов людей.</p>

    <h2 class="main__title">Выбери тему</h3>
    <ul class="list">
      <li class="list__item">
        <a href="/resources">ОТСУТСТВИЕ ПРОДОВОЛЬСТВЕННОЙ И ВОДНОЙ БЕЗОПАСНОСТИ</a>
      </li>
      <li class="list__item">
        <a href="/new_extremals">НОВЫЕ ЭКСТРЕМАЛЬНЫЕ ЗНАЧЕНИЯ</a>
      </li>
      <li class="list__item">
        <a href="/conlict">КАТАЛИЗАТОР КОНФЛИКТА</a>
      </li>
      <li class="list__item">
        <a href="/the_way_forward">ПУТЬ ВПЕРЁД</a>
      </li>
    </ul>
    {% endblock %}
    </main>
</body>
</html>
