<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>ОТСУТСТВИЕ ПРОДОВОЛЬСТВЕННОЙ И ВОДНОЙ БЕЗОПАСНОСТИ</title>
</head>
<body>
    <header class="header">
        <div class="header__text">
          <h1>ОТСУТСТВИЕ ПРОДОВОЛЬСТВЕННОЙ И ВОДНОЙ БЕЗОПАСНОСТИ</h1>
        </div>
      </header>
      <main>
        <p>Глобальное потепление сказывается на продовольственной и водной безопасности каждого человека. Изменение климата является 
            непосредственной причиной деградации почв, что ограничивает количество удерживаемого землей углерода. Сегодня около 500 
            миллионов человек живут в районах, подверженных эрозии почв, и до 30 процентов продовольствия теряется или выбрасывается 
            впустую. Между тем из-за изменения климата наблюдается сокращение объема водных запасов, используемых для питья и сельского 
            хозяйства, а также ухудшение качества самой воды.
            Во многих регионах сельскохозяйственные культуры, процветавшие там веками, выживают все реже, в связи с чем ситуация с 
            продовольственной безопасностью становится все менее стабильной. Такие последствия, как правило, сказываются в первую 
            очередь на бедных и уязвимых слоях населения. Глобальное потепление, вероятно, приведет к увеличению разрыва в показателях 
            экономического роста между богатейшими и беднейшими странами мира.</p>
      </main>
</body>
</html>